# Зависимости (не нужно хранить, их можно восстановить командой `npm install`)
/node_modules

# Файлы сборки (они создаются автоматически при публикации)
/dist
/build

# Файлы окружения и IDE
.env
.env.local
.vscode/
.idea/

# Логи и прочие системные файлы
*.log
.DS_Store